<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a href="{% url 'index' %}"><h5 class="text-white h4">Home</h5></a>
      <a href="{% url 'about' %}"><h5 class="text-white h4">About</h5></a>
      <a href="{% url 'contact_us' %}"><h6 class="text-white h4">Contact US</h6></a>
      <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>